server:
    port: 18080

spring:
    redis:
        database: 0
        host: 127.0.0.1
        port: 6379
        password:
        timeout: 3000
        lettuce:
            pool:
                # 最大连接数
                max-active: 8
                # 最大阻塞等待时间
                max-wait: -1
                # 最大空闲连接
                max-idle: 8
                # 最小空闲连接
                min-idle: 0
    datasource:
        url: jdbc:mysql://127.0.0.1:3306/listencode?characterEncoding=utf8&useSSL=false&zeroDateTimeBehavior=convertToNull&tinyInt1isBit=false&serverTimezone=Asia/Shanghai&useAffectedRows=true
        username: root
        password: root
        driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
    mapper-location: classpath:/resources/mapper/*Mapper.xml
    type-aliases-package: com.joker.crm.vo
    configuration:
        map-underscore-to-camel-case: true