server:
    port: 18080

spring:
    datasource:
        url: jdbc:mysql://172.17.0.3:3306/listencode?characterEncoding=utf8&useSSL=true&zeroDateTimeBehavior=convertToNull&tinyInt1isBit=false&serverTimezone=Asia/Shanghai&useAffectedRows=true
        username: root
        password: root
        driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
    configuration:
        map-underscore-to-camel-case: true